body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: linear-gradient(to left, #209cff 0%, #68e0cf 100%);  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: 'Soopafresh';
  src: local('Soopafresh'), url(fonts/soopafresh/soopafre.ttf), format('truetype');
}

h1 {
  font-family: 'Soopafresh';
  font-size: 3rem;
  color: #26058a;
  padding: 1rem;
  font-weight: 400;
}